@media only screen and (max-width: 992px) {
    .div_index {
        height: 34vh !important;
    }
}

.cursor_pointer {
    cursor: pointer;
}

.lesson_div {
    overflow: auto;
    height: 50vh;
}

.fw-bold {
    font-weight: bold;
}

.tbl-no-custom{
    color: lightblue!important;
    font-size: 22px;
}

ruby {
    display: inline-flex;
    flex-direction: column-reverse;
}

rb,
rt {
    display: inline;
    line-height: 0.75;
    font-size: 90%;
    color: red;
}
.td_1_20{
    width: 5%;
}
.td_7_20{
    width: 35%;
}

.td_btn_repeat{
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    width: 60px;
}

#tbl_body_list_wordbook{
    font-size: 28px;
    vertical-align: middle;
}

.hide{
    display: none;
}

.btn_ontop{
    position: fixed;
    bottom: 10px!important;
    right: 10px!important;
    z-index: 10000;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

@media only screen and (max-width: 768px) {
    .td_7_20{
        width: 50%;;
    }

    #tbl_body_list_wordbook{
        font-size: 20px;
    }
}

