body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color: rgb(21, 12, 61);
}

@media only screen and (max-width: 992px) {
    .div_index {
        height: 34vh !important;
    }
    .title{
        margin-top: 0.25rem!important;
        margin-bottom: 0.25rem!important;
    }
    body{
        background-size:100% 100%;
    }
    .form-control{
        padding: 0.15rem 0.5rem;
    }
}
ruby{
    vertical-align: middle;
}
.title{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.cnvi{
    font-size: 70%;
    color: #575a91;
}
p{
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

.cursor_pointer {
    cursor: pointer;
}

.lesson_div {
    overflow: auto;
    height: 50vh;
}

.fw-bold {
    font-weight: bold;
}

.btn_wordhard.on{
    color: #ffcd39;
}
.btn_wordhard.on:hover{
    color: #fdcf45;
}

.btn_repeat.on{
    color: rgb(201, 3, 3);
}
.btn_repeat.on:hover{
    color: rgb(185, 24, 24);
}

.btn_wordhard, .btn_repeat{
    color: lightgray;
    font-size: 22px;
}

.btn_wordhard:hover,.btn_repeat:hover{
    color: rgb(185, 122, 122);
    cursor: pointer;
}

.tbl-no-custom{
    color: black!important;
    font-size: 22px;
}
.show{
    color: white!important;
}
.fa-eye{
    color: gray;
}
ruby {
    display: inline-flex;
    flex-direction: column-reverse;
}

.ls_selected{
    color: red;
}
.gre_color{
    color: rgb(9 36 167);
}
rb,
rt {
    display: inline;
    line-height: 0.75;
    font-size: 90%;
    color: red;
}
.td_1_20{
    width: 5%;
}
.td_7_20{
    width: 35%;
    vertical-align: middle;
}
.fl_right{
    float: right;
}
.bd_l_0{
    border-left: 0px;
}
.bd_r_0{
    border-right: 0px;
}

.td_btn_repeat{
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    width: 60px;
}

#tbl_body_list_wordbook{
    font-size: 28px;
    vertical-align: middle;
}

#word_select{
    font-weight: 600;
}

.hide{
    display: none;
}
.w-80{
    width: 80%;
}
.btn_ontop{
    position: fixed;
    bottom: 42px!important;
    right: 10px!important;
    z-index: 10000;
    color: green;
    font-size: 32px;
}
.btn_bottom{
    position: fixed;
    bottom: 10px!important;
    right: 10px!important;
    z-index: 10000;
    color: green;
    font-size: 32px;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

@media only screen and (max-width: 768px) {
    .td_7_20{
        width: 50%;;
    }

    #tbl_body_list_wordbook{
        font-size: 20px;
    }

    .btn_bottom{
        font-size: 24px;
        bottom: 5px!important;
        right: 5px!important;
    }
    .btn_ontop{
        font-size: 24px;
        bottom: 32px!important;
        right: 5px!important;
    }
}

